.navbar {
    height: 60px;
    position: fixed;
    background-color: yellow;
    width: 100%;
    text-align: center;
}

.btn_search {
    display: flex;
    gap: 10px;
    width: 200px;
    margin: 20px auto;
    border-bottom: 1px solid black;
}

.btn_search svg {
    font-size: 1.5em;
    color: black;
}

.btn_search button {
    background-color: transparent;
    border: none;
}

.btn_search input {
    border-bottom: 1px solid lightgray;
    border: none;
    background-color: transparent;
}

/* mensagem que aparece quando o input do search está sem texto */
.box_msg_ativado {
    margin: 200px auto;
}

.box_msg_ativado p {
    background-color: red;
}

.box_msg_desativado {
    display: none;
    opacity: 0;
}

/* sem bordas quando clicar no input */
.btn_search input:focus {
    outline: none;
}

/* modal de resultado de pesquisa */
.container_modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.699);
}

.box_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    border: 1px solid white;
}


