.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box_card {
    border: 2px solid black;
    width: 200px;
}

.box_card li {
    list-style: none;
}

.box_card_img {
    width: 150px;
}

.box_card_img img {
    width: 100%;
}

/* abrir e fechar habilidades e poderes */
.btn_habilidades_ativado {
    opacity: 1;
}

.btn_habilidades_inativo {
    display: none;
    opacity: 0;
}

.btn_poderes_ativado {
    opacity: 1;
}

.btn_poderes_inativo {
    display: none;
    opacity: 0;
}

