/* barra de navegação na home */
.nav {
    height: 60px;
    background-color: rgb(255, 251, 0);
    border-bottom: 2px solid rgb(0, 140, 255);
    display: flex;
    justify-content: center;
}

.nav input {
    height: 30px;
    width: 200px;
    border: none;
    margin-top: 20px;
    background-color: transparent;
    border-bottom: 1px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
}

.nav input::placeholder {
    text-align: center;
    font-size: 1.1em;
    color: rgb(0, 140, 255);
}

.nav input:focus {
    outline: none;
}

/* btn no navbar para ver poderes e habilidades */
.nav_btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
}

.btns {
    display: flex;
    height: 35px;
    align-items: center;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.box_svg {
    border: none;
    border-right: 1px solid black ;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.btns svg {
    font-size: 2em;
    margin-top: 5px;
}

/* container onde vai receber os cards */
.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* onde estão todos os dados dos pokemons */
.box_card {
    width: 170px;
    margin-top: 30px;
    border: 1px solid #ffd71a;
}

.pokemon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box_card h2 {
    text-align: center;
    color: #ffd700;
    padding: 5px;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.box_name_img {
    position: relative;
    height: 150px;
}

.box_card_img {
    width: 100%;
    height: 150px;
    position: absolute;
    padding-top: 25px;
    top: 0;
}

.box_background {
    background-image: url("https://wallpapercave.com/wp/wp2757967.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.box_card_img img {
    width: 100%;
    height: 80%;
}

.box_habilidades {
    width: 170px;
}

.box_poderes {
    width: 170px;
}

/* esconder ou mostrar poderes e habilidades */
.btn_habilidades_ativado {
    opacity: 1;
    text-align: center;
    padding-bottom: 10px;
    background-image: url("https://i.pinimg.com/originals/1a/a2/00/1aa2008c04d15f46d38b797cb1452ed4.gif");
    background-position: top center;
    color: lightgray;
    font-size: 1.1em;
}

.btn_habilidades_inativo {
    display: none;
}

.btn_poderes_ativado {
    opacity: 1;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/1a/a2/00/1aa2008c04d15f46d38b797cb1452ed4.gif");
    background-position: center center;
    padding-bottom: 10px;
    font-size: 1.1em;
    color: lightgray;
}

.btn_poderes_inativo {
    display: none;
}

.nome_card {
    width: 100%;
    height: 20px;
    padding: 3px 0px;
    background-color: rgb(0, 140, 255);
    color: #eeff00;
    text-align: center;
    font-size: 1.1em;
}

/* box do banner */
.container_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 140, 255);
}

.img_banner img {
    width: 100%;
}

/* tela no min 800px */
@media (min-width: 800px) {
    .img_banner {
        width: 800px;
    }
}

/* tela no max de 799px */
@media (max-width: 799px) {
    .img_banner {
        width: 350px;
    }
}